//- Menu link
//- data = {title: "", href: ""}
mixin menuLink(link)
	li.header-menu-item
		a.header-menu-link(href= link.href)= link.title 

//- Header Bottom Item
mixin headerBottomItem(data)
	.header-bottom-item 
		span.header-bottom-number= data.number
		span.header-bottom-text= data.title

//- Block Box
mixin blockBox(data)
	.block-box
		h3.block-box-caption= data.caption 
		h2.block-box-heading= data.title 
		if data.desc
			p.block-box-desc= data.desc 

//- About Item
//- data = {src: "", title: "", icon: "", alt: ""}
mixin aboutItem(data)
	.about-item 
		img.about-image(src= data.src, alt= data.alt)
		.about-content
			i.about-icon(class= data.icon)
			span.about-title= data.title 

//- Number Item
mixin numberItem(data)
	.number-item 
		h4.number-item-count= data.count
		span.number-item-text= data.text

//- Service Item
mixin serviceItem(data)
	.service-item 
		img.service-item-icon(src= data.src, alt= data.alt)
		.service-item-infor 
			h3.service-item-title= data.title 
			p.service-item-desc= data.desc

//- Wedo Item
mixin wedoItem(data)
	.wedo-item(class = data.active)
		.wedo-item-header 
			img.wedo-item-icon(src= data.src)
			h3.wedo-item-title= data.title 
			i.wedo-item-arrow(class= data.arrow)
		.wedo-item-content
			p.wedo-item-text= data.desc 

//- Team Social
mixin teamSocial(social)
	ul.team-social 
		li.team-social-item
			a.team-social-link(href= social.facebook) 
				i.fab.fa-facebook-f
		li.team-social-item
			a.team-social-link(href= social.twitter) 
				i.fab.fa-twitter
		li.team-social-item
			a.team-social-link(href= social.pinterest) 
				i.fab.fa-pinterest-p
		li.team-social-item
			a.team-social-link(href= social.instagram) 
				i.fab.fa-instagram
//- Team Iteam
mixin teamIteam(data)
	.team-item 
		.team-main 
			img.team-image(src= data.src, alt="")
			.team-content
				if block
					block
		.team-info 
			h3.team-name= data.name
			span.team-position= data.position

//- Work Item
mixin workItem(work)
	.work-item(class= work.full) 
		img.work-image(src= work.src, alt="")
		.work-content 
			img.work-icon(src="./images/img-work-icon.png", alt="")
			h3.work-title= work.title
			span.work-desc.text.text--light= work.desc

//- People Item
mixin peopleItem(data)
	li.people-item 
		img.people-avatar(src= data.src, alt="")
		.people-info 
			h3.people-name= data.name
			span.people-job.text.text--light= data.job
			p.people-desc.text.text--normal= data.desc

//- Story Item 
mixin storyItem(data)
	li.story-item 
		.story-media 
			img.story-image(src= data.src, alt="")
			.story-date
				span.story-date-number= data.dateNumber
				span.story-date-text.text.text--light= data.dateText
		h3.story-title= data.title
		.story-desc
			p.story-desc-inner.text.text--normal= data.desc
		.story-meta
			.story-meta-item
				i.fa.fa-eye.story-meta-icon
				span.story-meta-number.text.text--light= data.views
			.story-meta-item
				i.fa.fa-comment.story-meta-icon
				span.story-meta-number.text.text--light= data.comments

//- Slick Slider
mixin quoteItem(data)
	.quote-item 
		if data.type == false
			.quote-icon 
				img(src= data.src, alt="")
		else
			img.quote-image(src= data.src, alt="")
		.quote-info 
			p.quote-desc= data.desc
			span.quote-author= data.author
